<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

<section layout:fragment="conteudo">
	<div id="content" class="content">
		<!-- begin breadcrumb -->
		<ol class="breadcrumb float-xl-right">
			<li class="breadcrumb-item"><a href="javascript:;">Cadastro</a></li>
			<li class="breadcrumb-item"><a href="javascript:;">Clientes</a></li>
			<li class="breadcrumb-item active">Listar</li>
		</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Clientes <small>cadastro no sistema</small></h1>
			<!-- end page-header -->
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Relação de Clientes</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="tabela" class="table table-striped table-bordered table-td-valign-middle">
			      		<thead>
			        		<tr role="row">
			        			<th>#</th>
			               		<th>Nome</th>
			                   	<th>CPF</th>
			                   	<th>Telefone</th>
			                   	<th>E-mail</th>
			                   	<th class="text-center" data-orderable="false">Ações</th>
			        		</tr>
		            	</thead>
         				<tbody>
                           	<tr th:each="cliente, num : ${clientes}">
                           		<td th:text="${num.count}">#</td>
                           		<td th:text="${cliente.nome}">Nome</td>
                           		<td th:text="${cliente.cpf}">CPF</td>
                               	<td th:text="${cliente.telefoneCelular.numero}">Telefone</td>
                               	<td th:text="${cliente.email}">E-mail</td>
                                <td class="text-center">
                               		<a th:href="@{/cliente/ficha/{id}(id = ${cliente.id})}" ><i class="far fa-lg fa-fw m-r-10 fa-id-card"></i></a>
                           			<a th:href="@{/cliente/{id}(id = ${cliente.id})}" ><i class="fas fa-lg fa-fw m-r-10 fa-edit"></i></a>
                           		</td>
                       		</tr>
             			</tbody>
	           		</table>
					
					
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end #content -->
	<div class="content">
		<div class="container-fluid">
    		<div class="row">
        		<div class="col-md-12">
            		<div class="card data-tables">
                		<div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
	                    	<div class="toolbar">
	                        	<!--        Here you can write extra buttons/actions for the toolbar              -->
	             			</div>
	             			<div class="fresh-datatables">
	                 			<div id="datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
	                 				<div class="row">
	                 					<div class="col-sm-12">
	                 						<table id="datatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" cellspacing="0" width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
							      				<thead>
							            			<tr role="row">
							                       		<th>Número</th>
							                         	<th>Cliente</th>
							                         	<th>Telefones</th>
							                         	<th>email</th>
							                         	<th>Data</th>
							                         	<th>Ações</th>
							              			</tr>
						                   		</thead>
						                     	<tfoot>
						                        
						                     	</tfoot>
		                     					<tbody>
		                                            <tr th:each="contrato, iterationStatus : ${contratos}">
		                                               	<td th:text="${contrato.numero}">Airi Satou</td>
		                                                <td th:text="${contrato.cliente.nome}">Accountant</td>
		                                                <td th:text="${contrato.cliente.telefoneCelular.numero}">Accountant</td>
		                                                <td th:text="${contrato.cliente.email}">2008/11/28</td>
		                                                <td th:text="${#temporals.format(contrato.dataAssinatura, 'dd/MM/yyyy')}">Airi Satou</td>
		                                                <td class="text-right">
		                                                	&nbsp;<a th:href="@{/parcela/{id}(id = ${contrato.cliente.id})}" class="btn btn-link btn-success edit" rel="tooltip" data-original-title="Pagamentos"><i class="fas fa-dollar-sign"></i></a>
		                                                    &nbsp;<a th:href="@{/contrato/{id}(id = ${contrato.id})}" class="btn btn-link btn-warning edit"  rel="tooltip" data-original-title="Editar Dados"><i class="fa fa-edit"></i></a>
		                                                    &nbsp;<a th:href="@{/imprimir/contrato/{id}(id = ${contrato.id})}" target="_blank" class="btn btn-link btn-info print"  rel="tooltip" data-original-title="Imprimir Contrato"><i class="fa fa-print"></i></a>
		                                                    <!-- <a href="#" class="btn btn-link btn-danger remove"><i class="fa fa-times"></i></a> -->
		                                                </td>
		                                           	</tr>
		                         				</tbody>
	                               			</table>
                               			</div>
                   					</div>
		               				<div class="row">
		                        	</div>
                    			</div>
               				</div>
           				</div>
           			</div>
    			</div>
    		</div>
    	</div>
    </div>
</section>
<section layout:fragment="javascript-extra">
	<script th:src="@{/assets/plugins/datatables.net/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/assets/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{/assets/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>
	<script th:src="@{/assets/js/demo/table-manage-default.demo.js}"></script>
	
	<script type="text/javascript">
   
		$('#tabela').DataTable( {
			buttons: [
					'pdf',
					'print'
			],
			responsive: true,
		    language: {
		        search:         "Pesquisar&nbsp;:",
		        lengthMenu:    	"Mostrar _MENU_",
		        info:           "Mostrando do _START_ ao _END_ de um total de _TOTAL_ clientes",
		        emptyTable: 	"Essa tabela não possui dados",
		        paginate: {
		            first:      "Primeiro",
		            previous:   "Anterior",
		            next:       "Próximo",
		            last:       "Último"
		        },
		    }
		} );
	</script>

</section>

</html>