<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao"
	xmlns:gurugo="http://gurugo.net">

<section layout:fragment="conteudo">
	<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Page Options</a></li>
				<li class="breadcrumb-item active">Blank Page</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Blank Page <small>header small text goes here...</small></h1>
			<!-- end page-header -->
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<div class="panel-heading">
					<h4 class="panel-title">Panel Title here</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					Panel Content Here
				</div>
			</div>
			<!-- end panel -->
		</div>
	<div class="content">
   		<div class="container-fluid">
        	<div class="row">
            	<div class="col-md-12">
                 	<div class="card stacked-form">
              			<div class="card-header ">
                        	<h4 th:if="${tipoFuncionario.novo}" class="card-title">Cadastrar Tipo de Funcionário</h4>
                        	<h4 th:unless="${tipoFuncionario.novo}" class="card-title" >Edição do Tipo de Funcionário: <small th:text="${tipoFuncionario.nome}|"></small></h4>
                      	</div>
         				<div class="card-body ">
                      		<form method="POST" th:object="${tipoFuncionario}" th:action="${tipoFuncionario.novo} ? @{/gerencia/funcionario/tipo} : @{/gerencia/funcionario/tipo/{id}(id=${tipoFuncionario.id})}">
         						<gurugo:message/>

                      			<input type="hidden" th:field="*{id}">
                      			<div class="row">
                      				<div class="col-md-9">
                      					<div class="form-group">
		                              		<label for="nome">Nome</label>
		                                   	<input type="text" id="nome" name="nome" gurugo:classforerror="nome" placeholder="Nome Completo" class="form-control" th:field="*{nome}">
		                              	</div>
                      				</div>
                      			</div>
                      			<hr class="my-4">
                      			<div class="card-footer text-right">
                      				<a th:href="@{/gerencia/funcionario/tipo}" class="btn btn-fill btn-warning">Cancelar</a>
		                          	<button type="submit" class="btn btn-fill btn-info">Gravar</button>
		                    	</div>
                         	</form>
                    	</div>
               		</div>
            	</div>
    		</div>
 		</div>
 	</div>
</section>
<section layout:fragment="javascript-extra">
	

</section>

</html>