<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:gurugo="http://gurugo.net">
<head>
	<link th:href="@{/assets/plugins/switchery/switchery.min.css}" rel="stylesheet" />
</head>

<section layout:fragment="conteudo">
	<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a th:href="@{/}">Início</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Cadastro</a></li>
				<li class="breadcrumb-item active">Usuário</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Usuário <small>cadastro no sistema</small></h1>
			<!-- end page-header -->
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<div class="panel-heading">
					<h4 class="panel-title">Formulário</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<div class="card stacked-form">
              			<div class="card-header ">
                        	<h4 th:if="${usuario.novo}" class="card-title">Cadastrar Usuario</h4>
                        	<h4 th:unless="${usuario.novo}" class="card-title" >Edição do Cliente: <small th:text="${usuario.pessoa.nome}|"></small></h4>
                      	</div>
         				<div class="card-body ">
                      		<form method="POST" th:object="${usuario}" th:action="${usuario.novo} ? @{/gerencia/usuario} : @{/gerencia/usuario/{id}(id=${usuario.pessoa.id})}">
         						<gurugo:message/>

                      			<input type="hidden" th:field="*{id}">
                      			<input type="hidden" id="pessoa" name="pessoa" th:value="${usuario.pessoa.id}">

                      			<div class="row">
                      				<div class="col-md-5">
                      					<div class="form-group">
		                              		<label for="nome">Senha</label>
		                                   	<input type="password" id="senha" name="senha" gurugo:classforerror="senha" class="form-control" th:field="*{senha}">
		                              	</div>
                      				</div>
                      				<div class="col-md-5">
                      					<div class="form-group">
		                              		<label for="confirmacaoSenha">Confirmação de Senha</label>
		                                   	<input type="password" id="confirmacaoSenha" name="confirmacaoSenha" gurugo:classforerror="confirmacaoSenha" class="form-control" th:field="*{confirmacaoSenha}">
		                              	</div>
                      				</div>
                      				<div class="col-md-2">
                      					<div class="form-group text-center">
		                              		<label for="confirmacaoSenha">Status</label><br>
                                            <p class="m-b-25"><input type="checkbox" data-render="switchery" data-theme="default" checked th:field="*{ativo}" /></p>
		                              	</div>
                      					
                      				</div>
                      			</div>
                      			<div class="row">
		          					<div class="col-md-12">
		         						<label for="nome">Grupos</label>
			         					<div class="form-group">
					         				<div class="row m-l-3">
					         					<th:block th:each="grupo : ${grupos}">
					         						<div class="col-md-3">
						                     			<label class="checkbox checkbox-inline">
						                     				<input type="checkbox" th:value="${grupo.id}" th:field="*{grupos}">
						                     				<span th:text="${grupo.nomeGrupo}"></span>
						                     			</label>
					          						</div>
					         					</th:block>
					         				</div>
			         					</div>
		          					</div>
		          				</div>
                      			<hr class="my-4">
                      			<div class="card-footer text-right">
                      				<a th:href="@{/gerencia/usuario}" class="btn btn-fill btn-warning">Cancelar</a>
		                          	<button type="submit" class="btn btn-fill btn-info">Gravar</button>
		                    	</div>
                         	</form>
                    	</div>
               		</div>
				</div>
			</div>
			<!-- end panel -->
		</div>
	<div class="content">
   		<div class="container-fluid">
        	<div class="row">
            	<div class="col-md-12">
                 	
            	</div>
    		</div>
 		</div>
 	</div>
</section>
<section layout:fragment="javascript-extra">
	<script th:src="@{/assets/plugins/switchery/switchery.min.js}"></script>
	<script th:src="@{/assets/js/demo/form-slider-switcher.demo.js}"></script>
</section>

</html>