<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<footer class="mt-auto" th:fragment="rodape">
    		<div class="container"><br>
      			<div class="copyRight clearfix">
        			<div class="row">
          				<div class="col-sm-7 col-xs-12">
            				<div class="copyRightText">
              					<p>© 2020 Sistema desenvolvido <a href="http://www.gupisoft.net/">GuPiSoft</a>.</p>
            				</div>
          				</div>
        			</div>
      			</div>
    		</div>
  		</footer>
	</body>
</html>